<div class="video-box">
  <video autoplay></video>
</div>
<div id="timer">00</div>
<div class="btn-box">
  <button class="btn start">start</button>
  <button name="rec" class="btn rec">rec</button>
  <button class="btn download">send</button>
</div>