<div class="video-box">
  <video class="video" autoplay></video>
</div>
<div id="timer">00</div>
<div class="btn-box">
  <button class="btn start">начать</button>
  <button class="btn rec hidden">запись</button>
  <button class="btn rec-proc hidden">&#149 rec &#149</button>
  <button class="btn show hidden">Посмотреть</button>
  <button class="btn rec-plus hidden">Переснять</button>
  <button class="btn download hidden">отправить</button>
</div>