body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
/* *, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

/* element styling */
html {
  height: 100%;
  background-color: rgba(140, 146, 143, 0.3);
  background-attachment: fixed;
  line-height: 1.4;
}

body {
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #6ec7a5;
  text-decoration: underline;
}

h1 {
  text-align: center;
}

nav {
  position: absolute;
  top: 35px;
}

.no-bullets {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.right {
  float: right;
}

.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
}

.border-right {
  border-right: 1px solid;
}

.left {
  float: left;
}

video {
  margin: auto;
}

.video-box {
  text-align: center;
  overflow: hidden;
  width: 640px;
  height: 480px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 0, 0.1), inset 0 0 5px grey;
  margin-right: auto;
  margin-left: auto;
  transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  border-radius: 10px;
}

.rad-5 {
  border-radius: 5px;
}

.gray {
  color: rgba(128, 128, 128, 0.7);
}

#timer {
  position: relative;
  top: -40px;
  left: 20px;
  color: darkred;
  font-size: 20px;
}

.btn-box {
  text-align: center;
}

.btn {
  display: inline;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 3px gray, 0 0 3px 3px rgba(255, 255, 0, 0.1);
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
}
.start {
  margin-left: auto;
}
