<h1>Ошибка регистрации</h1><br>
{{#if isName.name}}
<h2>Пользователь {{isName.name}} уже существует!</h2>
<h2>Попробуйте еще раз с другим значением.</h2>
{{/if}}
{{#if isEmail.email}}
<h2>Пользователь с email {{isEmail.email}} уже существует!</h2>
<h2>Попробуйте еще раз с другим значением.</h2>
{{/if}}
<br><a href="/users/new">Повторить регистрацию</a>